for loop pratice

In [3]:
l=[1,2,3,4,5,6]

In [4]:
for i in l:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>

In [5]:
l1=["alekha","chandra","parida"]

In [6]:
for i in l1:
    print(i)

alekha
chandra
parida

In [7]:
for i in l1:
    print(i)
else :
    print("if for loop is able to complet itself then only else will execute")

alekha
chandra
parida
if for loop is able to complet itself then only else will execute

In [8]:
for i in l1:
    if i== "chandra":
        break
    print(i)
else :
    print("execute this if for loop is able to complet itself")

alekha

In [9]:
for i in l1:
    if i== "chandra":
        continue
    print(i)
else :
    print("execute this if for loop is able to complet itself")

alekha
parida
execute this if for loop is able to complet itself

In [10]:
range(5)

range(0, 5)

In [11]:
list(range(0,5,1))

[0, 1, 2, 3, 4]

In [12]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [13]:
list(range(0,-10,-1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [14]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [15]:
l1

['alekha', 'chandra', 'parida']

In [16]:
len(l1)

3

In [17]:
list(range(len(l1)))

[0, 1, 2]

In [18]:
for i in range(len(l1)):
    print(l1[i])

alekha
chandra
parida

In [19]:
list(range(len(l1)-1,-1,-1))

[2, 1, 0]

In [20]:
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

parida
chandra
alekha

In [22]:
for i in [2,1,0]:
    print(l1[i])

parida
chandra
alekha

In [23]:
l2=[23,4,56,78,86,90,21,45,33,23,67,8,7]

In [27]:
list(range(0,len(l2),2))

[0, 2, 4, 6, 8, 10, 12]

In [28]:
for i in range(0,len(l2),2):
    print(l2[i])

23
56
86
21
33
67
7

In [37]:
l=[1,2,3,4,5,6,7]

In [38]:
sum(l)

28

In [44]:
result=0
for i in l:
    result=result+i
result

28

In [45]:
result

28

In [46]:
t=(1,2,3,4,5,6,7)

In [48]:
result=0
for i in t:
    result=result+i
result

28

In [51]:
s={1,2,3,4,5,6,7,"alekha","parida"}

In [52]:
for i in s:
    print(i)

1
2
3
4
5
6
7
alekha
parida

In [53]:
s1="pwskills"

In [54]:
for i in s1:
    print(i)

p
w
s
k
i
l
l
s

In [55]:
d={"name":"alekha",
   "class":"Data science",
   "topic":["python","stat","ml","dl","cv","nlp","resume","interview preparation"]
   }

In [56]:
d

{'name': 'alekha',
 'class': 'Data science',
 'topic': ['python',
  'stat',
  'ml',
  'dl',
  'cv',
  'nlp',
  'resume',
  'interview preparation']}

In [57]:
d.keys()

dict_keys(['name', 'class', 'topic'])

In [61]:
for i in d.keys():
    print(d[i])

alekha
Data science
['python', 'stat', 'ml', 'dl', 'cv', 'nlp', 'resume', 'interview preparation']

In [62]:
d.values()

dict_values(['alekha', 'Data science', ['python', 'stat', 'ml', 'dl', 'cv', 'nlp', 'resume', 'interview preparation']])

In [63]:
for i in d.values():
    print(i)

alekha
Data science
['python', 'stat', 'ml', 'dl', 'cv', 'nlp', 'resume', 'interview preparation']

In [64]:
d.items()

dict_items([('name', 'alekha'), ('class', 'Data science'), ('topic', ['python', 'stat', 'ml', 'dl', 'cv', 'nlp', 'resume', 'interview preparation'])])

In [66]:
for i in d.items():
    print(i)

('name', 'alekha')
('class', 'Data science')
('topic', ['python', 'stat', 'ml', 'dl', 'cv', 'nlp', 'resume', 'interview preparation'])